<launch>
        <include file="$(find gazebo_ros)/launch/empty_world.launch" />

        <include file="$(find alpha_simulator)/launch/spawn_aircraft.launch" >
		 <arg name="position" value="-x 0 -y 0 -z 0.5"/>				     
		 <arg name="model_name" value="alpha" />
        </include>
	<node pkg="alpha_simulator" name="sensor_remapper" type="sensor_remapper"/>

</launch>