<?xml version="1.0"?>

<launch>
  <arg name="model" default="$(find alpha_simulator)/urdf/aircraft.urdf.xacro"/>
   <arg name="position" />
   <arg name="model_name" />

   <!-- send the robot XML to param server -->
   <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'" />

   <!-- push robot_description to factory and spawn robot in gazebo -->
   <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
         args="-param robot_description -urdf $(arg position) -model $(arg model_name)"
         respawn="false" output="screen"/>

   <!-- start robot state publisher -->
   <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
     <param name="publish_frequency" type="double" value="50.0" />
     <param name="tf_prefix" type="string" value="$(arg model_name)"/>
   </node>
</launch>